bandit==1.6.2
black==19.10b0
jinja2
mock
pylint==2.4.4
pytest==5.3.1
pytest-asyncio==0.10.0
pytest-benchmark
pytest-cov==2.8.1
pytest-mock
pytest-pride
python-rapidjson==0.4.1
tenacity==5.0.2
xenon==0.7.0
ksql
